/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    IMPACT QC Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Imapct QC params
params {

    // External files (all paths are relative to the projectDir (default: sarek/))
    multiqc_config                = 'impact_qc/conf/impactqc_multiqc_config.yml'

    // Publish dir config. Needed for the publish dir of config files for Impact modules
    publish_dir_mode           = 'copy'
    save_output_as_bam = false      // Output files from preprocessing are saved as bam and not as cram files. Also keep IMPaCT-QC BAM used in 'collectinsertsizemetrics'.

    // Compute resources	
    max_cpus                      = 6
    max_memory                    = "24.GB"
    max_time                      = "168.h"

    // Pipeline config
    wes                           = true
    trim_fastq                    = true
    vep_include_fasta             = true
    only_paired_variant_calling   = true
       
}

// Impact QC processes
process {
    withName: MOSDEPTH {
        ext.args              = { "--thresholds 1,8,10,20,30,100" }
    }
	withName: BCFTOOLS_MPILEUP {
		ext.args              = { "-a FORMAT/DP,FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/SP" }
        ext.args2             = { "-a GQ -mv" }
	}
    withName: FREEBAYES {
                ext.args              = { "--strict-vcf --genotype-qualities" }
    }
}

// Load Impact QC modules config files (all paths are relative to the config file)
includeConfig 'modules/cram_to_bam_impact_qc.config'
includeConfig 'modules/collectinsertsizemetrics.config'
includeConfig 'modules/madinsertsizecustom.config'
includeConfig 'modules/collecthsmetrics.config'
includeConfig 'modules/samtools_flagstat.config'
includeConfig 'modules/samtools_depth.config'
includeConfig 'modules/sexdeterrmine.config'
includeConfig 'modules/somalier.config'
includeConfig 'modules/fastpstats.config'
includeConfig 'modules/flagstatcustom.config'
includeConfig 'modules/bcftoolsstats.config'
includeConfig 'modules/fastqscreen.config'
includeConfig 'modules/bcftoolscustom.config'
includeConfig 'modules/vcftoolscustom.config'
