
# nf-core
*.code-workspace
*.pyc
.nextflow*
.DS_Store
.nf-test*
.nf-test/
data/
testing*
testing/
test-datasets/
results/
work/

# Local
params.yaml
script.sh
log*
impact_qc/assets/fastq_screen_conf_db/Human/
impact_qc/assets/fastq_screen_conf_db/Mouse/
